body {
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
div{
   height: 350px;
   width: 90px;
   background-color: rgb(69, 67, 67);
   border-radius: 40px;
}
